## .NET
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# JetBrains Rider
.idea/
*.sln.iml
*.sln.DotSettings.user

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*

# Cache files
*.cache
*.vspscc
*.vssscc

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
